---
import {getCollection} from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
// import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
// import {SOCIALS} from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({data}) => data.featured);

// const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
    <Header/>
    <main id="main-content">
        <section id="hero">
          <div class="imageflex" >
            <img src="assets/portrait.jpg"  alt="Portrait photo" width="200" />
            <div style="margin-left:20px">
              <h1 style="margin-top: 0">Hi!</h1>
              <p>
                I'm Zach.
                I'm a lecturer and calculus coordinator at Colby College. Before that, I was a visiting assistant professor at Smith College.
                I received my PhD from Dartmouth College in 2022.
                My research is in knot theory, and I also like thinking about game theory, logic, and computer science.
              </p>
            </div>
          </div>
        </section>
        <Hr/>
        <section id="info">
            <h2>Office</h2>
            <p>
                Davis 203
            </p>
            <br>
            <h2>Address</h2>
            <p>
                4000 Mayflower Hill Drive<br>
                Waterville, ME 04901
            </p>
        </section>
        <Hr/>
        <section id="cv">
            You can find my CV <a href="/assets/cv.pdf">here</a>.
        </section>
        <Hr/>

        <!--{-->
        <!--  featuredPosts.length > 0 && (-->
        <!--    <>-->
        <!--      <section id="featured">-->
        <!--        <h2>Featured</h2>-->
        <!--        <ul>-->
        <!--          {featuredPosts.map(({ data }) => (-->
        <!--            <Card-->
        <!--              href={`/posts/${slugify(data)}`}-->
        <!--              frontmatter={data}-->
        <!--              secHeading={false}-->
        <!--            />-->
        <!--          ))}-->
        <!--        </ul>-->
        <!--      </section>-->
        <!--      <Hr />-->
        <!--    </>-->
        <!--  )-->
        <!--}-->

        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {
              sortedPosts.map(
                ({ data }, index) =>
                  index < 4 && (
                    <Card
                      href={`/posts/${slugify(data)}`}
                      frontmatter={data}
                      secHeading={false}
                    />
                  )
              )
            }
          </ul>
          <!--<div class="all-posts-btn-wrapper">-->
          <!--  <LinkButton href="/posts">-->
          <!--    All Posts-->
          <!--    <svg xmlns="http://www.w3.org/2000/svg"-->
          <!--      ><path-->
          <!--        d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"-->
          <!--      ></path>-->
          <!--    </svg>-->
          <!--  </LinkButton>-->
          <!--</div>-->
        </section>
    </main>

    <Footer/>
</Layout>

<style>
    section {
        @apply pt-8 pb-6;
    }

    section h2 {
        @apply text-2xl font-semibold tracking-wide;
    }

    #hero h1 {
        @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }

    #hero .rss-link {
        @apply mb-6;
    }

    #hero .rss-icon {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }

    #hero p {
        @apply my-2;
    }

    section a {
        @apply text-skin-base underline underline-offset-4 hover:text-skin-accent
    }

    .social-wrapper {
        @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }

    .social-links {
        @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
        @apply pt-12 pb-6;
    }

    #featured h2,
    #recent-posts h2 {
        @apply text-2xl font-semibold tracking-wide;
    }

    .all-posts-btn-wrapper {
        @apply my-8 text-center;
    }

    .imageflex {
        @apply flex;
        align-items: flex-start;
    }
</style>
